@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* ## Colors

    ### Primary */

    --Scissors-Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
    --Paper-Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
    --Rock-Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
    --Lizard-Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
    --Cyan:hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

    /* ### Neutral */

--Dark-Text: hsl(229, 25%, 31%);
--Score-Text: hsl(229, 64%, 46%);
--Header-Outline: hsl(217, 16%, 45%);
  /* ### Background */
 --Radial-Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
}
body{
    min-height: 100vh;
    background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    font-family: "Barlow Semi Condensed", sans-serif;
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: 120px;
    margin: 40px auto;
    padding: 1rem;
    padding-left: 1.4rem;
    border: 2px solid var(--Header-Outline);
    border-radius: 15px;
}
figure img{
    width: 90px;
    height: auto;
}
.header-section div{
    background-color: #fff;
    width: 120px;
    height: 90px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.scoreText{
    color: var(--Score-Text);
    text-transform: uppercase;
    font-weight: 600;
}
.score{
    color: var(--Dark-Text);
    font-size: 3rem;
    font-weight: 700;
}